@tailwind base;
@tailwind components;
@tailwind utilities;



.body{
    /* box-shadow: 0px 0px 600px 300px #B8F543; */
    background: #ffffff;
    @apply bg-white text-black;
}

/* Dark mode */
.dark body {
    @apply bg-gray-900 text-white;
}

/* You can add more global styles for elements like buttons, headers, etc. */

.all{
    background: radial-gradient(circle at top right,
        rgba(255, 255, 255, 0.5),
        transparent 100px);
}

.background{
    background: #F9FFE5;
}

.nav-hover{
    color: #8FDA08;
}

.timer-bg{
    background: #EFFFC7;
    font-size: 3.5rem;
    color: black;
    border: 1px solid gray;
    /* padding: 0.5rem; */
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 4px;
}

.connect-btn, .vote-btn{
    background: #8FDA08;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.dark .connect-btn, .dark .vote-btn{
    color: #1A1919;
}

.dark .token{
    background: #1A1919;
    border: 1px solid #6D6D6D;
}
.icon-container {
    color: #242424;
    /* Light mode icon color */
}
.dark .icon-container {
    color: #ffffff;
}